
  <div class="container">

    <div class="row">
      <div class="col-md-12" styleClass="ui-card-shadow">
        <img src="assets/images/MyLists/MyLists.png" width="1100" height="275">
      </div>
    </div>

    <div class="row topMargin">
      <div class="offset-md-9 col-md-3 text-right">
        <button pButton type="button" icon="pi pi-plus" (click)="CreateDialog(MyListDialogType.AddList)" label="New List"></button>
      </div>
    </div>

    <div class="row" *ngIf="myLists">
      <div class="col-md-12 text-center">
        <h3>{{ myLists[currentIndex].myListName }}</h3>
      </div>
    </div>

    <div class="row" *ngIf="myLists">
      <div class="col-md-12 text-center">
        <button pButton type="button" icon="pi pi-minus-circle" (click)="DeleteMyListButtonClick(myLists[currentIndex].myListId)" label="Remove List" class="ui-button-danger"></button>
      </div>
    </div>

    <div class="row topMargin">

      <div class="col-md-2">
        <p-menu [model]="menuItems"></p-menu>
      </div>

      <div class="col-md-8">

        <div class="row">
          <div class="col-md-12" *ngIf="myLists">

            <p-orderList [value]="myLists[currentIndex].myListItems" [listStyle]="{'height':'1000px'}"
                         filter="filter" filterBy="Name" filterPlaceholder="Filter by Name" dragdrop="true"
                         controlsPosition="right" [style]="{'width':'950px'}">
              <ng-template let-myListItem pTemplate="item">

                <div class="row ml-0 mr-0">
                  <div class="col-md-2">
                    <img src="{{ myListItem.Image }}" width="100">
                  </div>

                  <div class="col-md-6" style="font-size:14px;">
                    <div><h5><a routerLink="/Product/{{ myListItem.ProductId }}" style="cursor:pointer;color:cornflowerblue"> {{ myListItem.Name }} </a></h5></div>
                    <div> {{ myListItem.Description }} </div>
                    <div class="mt-2 mb-2">
                      <button pButton type="button" icon="pi pi-minus-circle" (click)="DeleteItemButtonClick(myListItem.ProductId)" label="Remove" class="ui-button-danger" style="margin-right:20px;"></button>
                      <button pButton type="button" icon="pi pi-pencil" (click)="MoveItemButtonClick(myListItem.ProductId)" label="Move"></button>
                    </div>
                  </div>

                  <div class="col-md-4 text-right" style="font-size:12px;">
                    <div> Category <h6><a routerLink="/Category/{{ myListItem.CategoryId }}" style="cursor:pointer;color:cornflowerblue">{{ myListItem.CategoryName }}</a> </h6></div>

                    <div *ngIf="myListItem.Discount > 0;then showDiscountedPrice else showOriginalPrice"></div>

                    <ng-template #showOriginalPrice>
                      <div> Price <h6> {{ getFormattedPrice(myListItem.Price) }} </h6></div>
                    </ng-template>

                    <ng-template #showDiscountedPrice>

                      <div>
                        Price
                      </div>
                      <div>
                        <span style="color:darkred; font-size:18px;font-weight:bold;"> <b> {{ getFormattedPrice(myListItem.Price - myListItem.Discount) }} </b></span>
                        <span style="text-decoration-line:line-through; margin-left:10px;font-size:14px;">{{ getFormattedPrice(myListItem.Price) }}</span>
                      </div>

                      <div>
                        <img src="assets/images/Home/SALEBANNER.png" width="80" height="21">
                      </div>
                    </ng-template>

                  </div>
                </div>

              </ng-template>
            </p-orderList>

          </div>
        </div>

      </div>
    </div>

    <div *ngIf="opType > -1">
      <ng-container *ngComponentOutlet="ConfirmDialogComponent; injector: confirmDialogInjector;">
      </ng-container>
    </div>

    <p-toast [style]="{marginTop: '80px'}"></p-toast>

    <ng-template #AddListDialogTemplate>
      List Name: <input type="text" [(ngModel)]="confirmDialogBinders.binders.myListName" />
    </ng-template>

    <ng-template #DeleteItemDialogTemplate>
      Are you sure you want to delete this item from the List ?
    </ng-template>

    <ng-template #DeleteListDialogTemplate>
      Are you sure you want to delete this List ?
    </ng-template>

    <ng-template #MoveItemDialogTemplate>
      Move To: <p-dropdown [options]="myLists" [(ngModel)]="confirmDialogBinders.binders.moveToSelectedList" placeholder="Select a List" optionLabel="myListName" [showClear]="true" appendTo="body"></p-dropdown>
    </ng-template>

    <ng-template #ErrorDialogTemplate>
      An Error has occurred while retreiving your Lists. Please try again later.
    </ng-template>

  </div>

